.share-button {
  .ktalk-share {

    font-family: "SeoulNamsanM";
    font-size: 20px;
    
    position: relative;
    z-index: 3;
    font-size: 0.8rem;
    display: inline-block;
    img {
      width: 0.7rem;
      height: 0.7rem;
    }
  }
}
