/* MapoGoldenPier */
@font-face {
  font-family: "MapoGoldenPier";
  src: url("./fonts/MapoGoldenPierA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* AlluraRegular */
@font-face {
  font-family: "AlluraRegular";
  src: url("./fonts/AlluraRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* GowunBatang */
@font-face {
  font-family: "GowunBatang-Regular";
  src: url("./fonts/GowunBatang-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* SeoulNamsanM */
@font-face {
  font-family: "SeoulNamsanM";
  src: url("./fonts/SeoulNamsanM.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* SeoulNamsanB */
@font-face {
  font-family: "SeoulNamsanB";
  src: url("./fonts/SeoulNamsanB.woff") format("woff"),
       url("./fonts/SeoulNamsanB.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* BMJUA */
@font-face {
  font-family: "BMJUA";
  src: url("./fonts/BMJUA.woff?v=1") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* 외부 폰트 (눈누) */
@font-face {
  font-family: 'KyoboHandwriting2019';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}
